<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<table>
  <tbody>
    <tr>
      <th>Custum field name to assign current user</th>
      <td><input type="text" id="settings_cf_name" 
                     value="<%= settings['cf_name'] %>" 
             name="settings[cf_name]" >
    </tr>
  </tbody>
</table>
